@import '../home/home.page';
.training-time{
  margin-right: 15px;
}
.clear-history{
  padding-left: 14px;
  font-size: 14px;
  text-transform: none;
  font-family: 'Roboto Mono', serif;
}

.history-wrapper{
  height: 100%;
  background: #222428;
}

ion-content {
  --padding-top: var(--ion-padding, 0px);
  --padding-bottom: var(--ion-padding, 0px);
}
