@import '../home/home.page';
.training-time{
  margin-right: 15px;
}
.clear-history{
  padding-left: 14px;
  font-size: 14px;
  text-transform: none;
  font-family: 'Roboto Mono', serif;
}

.close-icon{
  position: absolute;
  right: 0;
  bottom: 5px;
}
