<ion-content>
  <ion-item color="dark">
    <ion-label class="datetime-label">Duration</ion-label>
    <ion-datetime class="datetime-text"
      display-format="mm:ss"
      placeholder="Tap here"
      [(ngModel)]="settings.fullTime"
      (ngModelChange)="onChangeRestTime($event)"
      minuteValues="0,1,2,3,4,5"
    ></ion-datetime>
  </ion-item>

  <circle-progress (click)="startTimer()"
    [percent]="percent"
    [maxPercent]="100"
    [radius]="radius"
    [outerStrokeWidth]="16"
    [outerStrokeColor]="outerStrokeColor"
    [outerStrokeLinecap]="'butt'"
    [subtitle]="subtitle"
    [titleFontSize]="'28'"
    [units]="''"
    [title]="title"
    [subtitleFontSize]="'12'"
    [showZeroOuterStroke]="false"
    [backgroundStroke]="'#222'"
    [backgroundStrokeWidth]="1"
    [outerStrokeGradient]="true"
    [outerStrokeGradientStopColor]="outerStrokeGradientStopColor"
    [animation]="true"
    [startFromZero]="false"
    [animationDuration]="1000"
    [animateTitle]="true"
    [showInnerStroke]="false"
    [totalSeconds]="totalSeconds"
    [clockwise]="settings.clockwise"
  ></circle-progress>
  <div class="sets">Sets: {{sets}}
    <ion-button size="small" fill="outline" (click)="resetSets()">
      reset
    </ion-button>
  </div>

  <p>{{ elapsed.h }}:{{elapsed.m}}:{{elapsed.s}}</p>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ng-container *ngIf="timer == false; else running">
      <ion-fab-button (click)="startTimer()">
        <ion-icon name="play" class="play-icon"></ion-icon>
      </ion-fab-button>
    </ng-container>
    <ng-template #running>
      <ion-fab-button (click)="stopTime()">
        <ion-icon name="square"></ion-icon>
      </ion-fab-button>
    </ng-template>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="dark" size="small" (click)="showSettingsModal()">
      <ion-icon name="settings"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="dark" size="small" (click)="showHistoryModal()">
      <ion-icon name="list"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
