@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300&display=swap');

ion-content {
  font-family: 'Roboto Mono', serif;
  --padding-start: var(--ion-padding, 16px);
  --padding-end: var(--ion-padding, 16px);
  --padding-top: var(--ion-padding, 16px);
  --padding-bottom: var(--ion-padding, 16px);
}

p {
  font-size: 3em;
  color: #565656;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.sets {
  margin-top: -15px;
  font-size: 15px;
  color: #A9A9A9;
  text-align: center;
}

ion-button {
  font-size: 10px;
  vertical-align: middle;
  color: #a9a9a9;
  margin-top: 1px;
  --border-color: #a9a9a9;
  --border-width: 1px;
  --padding-top: 1px;
}

.ion-color-dark {
  ion-icon {
    color: #a9a9a9;
  }
}

.play-icon {
  padding-left: 3px;
}

ion-label.datetime-label {
  font-family: 'Roboto Mono', serif;
}

.datetime-text {
  font-family: 'Roboto Mono', serif;
}

.close-icon {
  position: absolute;
  right: -5px;
  bottom: 0;
  color: #a9a9a9;
  padding: 10px 15px;
  width: 28px;
  height: 28px;
  &.ios{
    width: 42px;
    height: 42px;
    padding: 10px 12px;
  }
}

ion-toggle{
  &.ios{
    zoom: 0.8;
  }
}

.settings-list {
  height: 100%;
  background: #222428;
}

ion-title {
  font-size: 16px;
  color: #fff;
  font-family: 'Roboto Mono', serif;
}

ion-list-header{
  text-transform: none;
}

ion-header {
  padding-top: 16px;
  padding-left: 16px;
  padding-right: 16px;
}

ion-footer {
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
}

