@import '../home/home.page';

.ion-color-dark {
  ion-icon {
    color: #a9a9a9;
  }
}

ion-content {
  --padding-top: var(--ion-padding, 0px);
  --padding-bottom: var(--ion-padding, 0px);
}

.settings-wrapper{
  height: 100%;
  background: #222428;
}

.gradient-example{
  width: 40%;
  height: 60%;
  border-radius: 5px;
  margin-right: 10px;
}
.restore-defaults{
  padding-left: 14px;
  font-size: 14px;
  text-transform: none;
  font-family: 'Roboto Mono', serif;
}
